@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #ffb1ff;
  }
  h1,
  h2,
  h3,
  h4,
  .intro {
    color: #ffb1ff;
  }

  .first_fact,
  .second_fact,
  .third_fact,
  .intro,
  .section_four,
  .section_five,
  .section_six,
  .section_seven,
  .section_eight,
  .section_nine,
  .section_ten,
  .section_eleven {
    background-color: #487a16;
    color: #ffb1ff;
  }

  .section_three {
    background-color: #487a16;
  }
}
